<launch>
    <arg name="launch_rviz" default="true"/>

    <node pkg="rviz-waypoint-gui_ros1" type="click_extend_linestrip_node.py" name="click_extend_line_strip_node"/>

    <group if="$(arg launch_rviz)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rviz-waypoint-gui_ros1)/config/demo.rviz" />
    </group>

</launch>
